:root {
	--red: #dd1c1a;
	--dark: #011627;
	--yellow: #f0c808;
	--light: #f6f6f6;
	--lBlue: #bfcde0;
	--yellowL: #e5bf07;
	--redL: #c90f0d;
	--Blue: #6cabff;
	--darkBlue: #3174d0;
	--lightShadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
	--fFamily: 'Poppins', sans-serif;
	--darkShadowSm: 4px 4px 15px rgba(211, 211, 211, 0.158);
	--darkShadowLg: 2px 2px 10px rgba(211, 211, 211, 0.158);
}
body.light {
	background-color: var(--light);
	color: var(--dark);
}

body.light .hero-btns .btn {
	border: 2px solid var(--yellowL);
	color: var(--dark);
	font-weight: 600;
}
body.light .hero-btns .btn-cta {
	border: 2px solid var(--yellowL);
	color: var(--dark);
	font-weight: 600;
	background-color: var(--yellowL);
}
body.light .hero-btns .btn-cta:hover {
	transform: scale(1.2);
}

body.light .hero-btns .btn:hover {
	font-weight: 700;
	border: 2px solid var(--yellowL);
	color: var(--dark);
	background-color: var(--yellowL);
}

body.light .blue circle {
	fill: var(--darkBlue);
}

body.light .abt-head {
	color: var(--darkBlue);
}

body.light .abt-content {
	font-weight: 600;
}

body.light .know-more {
	border: 2px solid var(--yellowL);
	color: var(--dark);
	font-weight: 600;
}

body.light .know-more:hover {
	font-weight: 700;
	border: 2px solid var(--yellowL);
	color: var(--dark);
	background-color: var(--yellowL);
}

body.light .skills-head {
	color: var(--darkBlue);
}

body.light .skills .card {
	box-shadow: var(--lightShadow);
}

body.light .c-icon {
	color: var(--yellowL);
}

body.light .c-title {
	font-weight: 600;
}

body.light .skills .c-content,
.c-content-sm {
	background-color: var(--yellowL);
	font-weight: 600;
}
body.light .abt-content a {
	color: var(--darkBlue);
}

body.light .abt-content a:hover {
	color: var(--yellowL);
}

body.light .projects-head {
	color: var(--darkBlue);
}

body.light .contact-head {
	color: var(--darkBlue);
}

body.light .icons .icon {
	color: var(--dark);
}
body.light .icons .icon:hover {
	color: var(--yellowL);
}
