:root {
	--red: #dd1c1a;
	--dark: #011627;
	--yellow: #f0c808;
	--light: #f6f6f6;
	--lBlue: #bfcde0;
	--yellowL: #e5bf07;
	--redL: #c90f0d;
	--Blue: #6cabff;
	--darkBlue: #3174d0;
	--fFamily: 'Poppins', sans-serif;
	--darkShadowSm: 4px 4px 15px rgba(211, 211, 211, 0.158);
	--darkShadowLg: 2px 2px 10px rgba(211, 211, 211, 0.158);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--fFamily);
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #222222;
}

::-webkit-scrollbar-thumb {
	background: #444444;
	border-radius: 500px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	background-color: var(--dark);
	color: var(--light);
	transition: all 500ms;
	overflow-x: hidden;
}

body a {
	text-decoration: none;
	color: var(--light);
}

body ul {
	list-style-type: none;
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}
.fa.md-18 {
	font-size: 18px;
}
.fa.md-24 {
	font-size: 24px;
}
.fa.md-36 {
	font-size: 36px;
}
.fa.md-48 {
	font-size: 48px;
}
nav {
	position: fixed;
	width: 10vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: var(--darkShadowLg);
	/* border-radius: 0px 50px 50px 0px; */
	background-color: var(--dark);
	transition: all 200ms;
	z-index: 99;
}

nav .logo {
	position: absolute;
	left: auto;
	top: 50px;
	clip-path: circle(50%);
	cursor: pointer;
	transition: all 200ms;
}
nav .logo:hover {
	transform: scale(1.1);
}

nav .logo-l {
	position: absolute;
	left: auto;
	bottom: 50px;
	clip-path: circle(50%);
	cursor: pointer;
	transition: all 200ms;
	color: var(--light);
}
nav .logo-l:hover {
	color: var(--yellow);
	transform: scale(1.1);
}

.nav-links {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.nav-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 200ms;
}
.nav-link:hover {
	color: var(--yellow);
}

.nav-text {
	font-size: 14px;
}

.top-nav-m {
	display: none;
}

.hero {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-img {
	display: flex;
	justify-content: center;
	align-items: center;
	/* clip-path: circle(45%); */
}

.hero-img img {
	width: 300px;
	margin-bottom: 50px;
	/* transform: translate(45px, 25px); */
}

.hero-head {
	font-size: 36px;
	font-weight: 800;
	margin-bottom: 20px;
}

.hero-btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-btns .btn {
	width: 200px;
	text-align: center;
	padding: 15px 30px;
	border: 2px solid var(--yellow);
	margin: 10px;
	border-radius: 5px;
	color: var(--yellow);
	font-weight: 550;
	font-size: 16px;
	transition: all 200ms;
}
.hero-btns .btn:hover {
	font-weight: 700;
	border: 2px solid var(--yellow);
	color: var(--dark);
	background-color: var(--yellow);
}

.hero-btns .btn-cta {
	font-weight: 700;
	border: 1px solid var(--yellow);
	color: var(--dark);
	background-color: var(--yellow);
}
.hero-btns .btn-cta:hover {
	transform: scale(1.1) !important;
}

.illus {
	position: absolute;
	right: 0;
	top: 50px;
	width: 300px;
	opacity: 0;
	display: none;
}
.blue {
	position: absolute;
	left: 15vh;
	top: 75vh;
}

.blue svg {
	width: 150px;
}

.blue svg circle {
	fill: var(--Blue);
}
.space {
	width: 100%;
	height: 20vh;
}
.about {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 12vh;
	padding: 50px 100px;
}

.abt-head {
	font-size: 82px;
	font-weight: 800;
	color: var(--Blue);
}

.abt-content {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 80%;
	font-size: 26px;
	text-align: justify;
	line-height: 50px;
}

.abt-content a {
	color: var(--Blue);
}

.abt-content a:hover {
	color: var(--yellow);
}
.about .know-more {
	width: 200px;
	text-align: center;
	padding: 15px 30px;
	border: 2px solid var(--yellow);
	margin: 20px 0;
	border-radius: 5px;
	color: var(--yellow);
	font-weight: 550;
	font-size: 16px;
	transition: all 200ms;
}
.about .know-more:hover {
	font-weight: 700;
	color: var(--dark);
	background-color: var(--yellow);
	transform: scale(1.1);
}

.skills {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 12vh;
	padding: 50px 100px;
}

.skills-head {
	font-size: 82px;
	font-weight: 800;
	color: var(--Blue);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -10px;
	margin-top: 20px;
}

.card {
	margin: 10px;
	width: 300px;
	height: 300px;
	box-shadow: var(--darkShadowLg);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 50px;
	position: relative;
	transition: all 350ms;
	overflow: hidden;
}

.c-icon {
	font-size: 58px;
	text-align: center;
	width: 100%;
	padding: 10px;
	color: var(--yellow);
}

.c-title {
	width: 100%;
	font-size: 32px;
	text-align: center;
}

.c-content {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	border-radius: 8px;
	padding: 35px;
	font-weight: 600;
	text-align: start;
	font-size: 18px;
	color: var(--dark);
	width: 100%;
	height: 100%;
	background-color: var(--yellow);
	transition: all 350ms;
	transform: translateY(100%);
}

.card:hover .c-content {
	transform: translateY(0%);
}
.c-content-sm {
	display: none;
}

.projects {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 12vh;
	padding: 50px 100px;
}

.projects-head {
	font-size: 82px;
	font-weight: 800;
	color: var(--Blue);
}
.project-cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -10px;
	margin-top: 20px;
}

.project-card {
	width: 45%;
	margin: 10px;
}
.project-card img {
	width: 100%;
	box-shadow: var(--darkShadowLg);
	border-radius: 8px;
	transition: all 200ms ease-in-out;
}

.project-card:hover img {
	box-shadow: 2px 2px 25px rgba(211, 211, 211, 0.158);
	transform: scale(1.02);
}
.contact {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 12vh;
	padding: 50px 100px;
}

.contact-head {
	font-size: 82px;
	font-weight: 800;
	color: var(--Blue);
}
.contact .icons {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
}

.contact .icons .icon {
	margin: 10px;
	padding: 20px 50px 20px 0;
	transition: all 200ms ease-in-out;
}

.contact .icons .icon:hover {
	color: var(--yellow);
}

.contact .icons .icon span {
	font-size: 64px;
}

@media screen and (max-width: 860px) {
	body {
		overflow-x: hidden;
	}
	.illus {
		right: 0px;
		top: 15px;
		width: 200px;
	}
	.blue {
		display: none !important;
	}
	nav {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 10vh;
		display: flex;
		margin-bottom: -01px;
		justify-content: center;
		align-items: center;
		box-shadow: var(--darkShadowSm);
		border-radius: 30px 30px 0px 0px;
	}
	nav .logo {
		display: none;
	}
	nav .logo-l {
		display: none;
	}

	.nav-links {
		width: 100%;
		padding: 0 30px;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.nav-text {
		font-size: 12px;
	}
	.top-nav-m {
		position: absolute;
		display: flex !important;
		width: 100%;
		justify-content: space-between;
		margin-top: 30px;
		padding: 0 50px;
		z-index: 99;
	}
	.logo-m {
		cursor: pointer;
	}

	.hero {
		width: 100%;
	}
	.hero-head {
		font-size: 28px;
	}
	.hero-img img {
		width: 200px;
		margin-bottom: 20px;
		/* transform: translate(30px, 25px); */
	}
	.hero-btns {
		flex-direction: column;
	}
	.space {
		height: 10vh;
	}
	.about {
		margin-left: 0vh;
		padding: 50px 30px;
	}

	.abt-head {
		font-size: 52px;
	}

	.abt-content {
		margin-top: 20px;
		width: 100%;
		font-size: 20px;
		line-height: 30px;
	}
	.skills {
		margin-left: 0vh;
		padding: 50px 30px;
	}

	.skills-head {
		font-size: 52px;
	}

	.cards {
		flex-direction: column;
		margin-left: -15px;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.card {
		width: 180px;
		height: 180px;
		padding: 25px;
		margin: 10px;
		overflow: visible;
		align-items: flex-start;
	}

	.c-icon {
		text-align: start;
		font-size: 46px;
		padding: 0;
	}

	.c-title {
		font-size: 22px;
		text-align: start;
	}
	.c-content {
		display: none;
	}
	.c-content-sm {
		position: absolute;
		font-size: 17px;
		width: 100%;
		height: 95%;
		top: auto;
		left: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		background-color: var(--yellow);
		color: var(--dark);
		border-radius: 10px;
		font-weight: 700;
	}

	.projects {
		margin-left: 0vh;
		padding: 50px 30px;
	}

	.projects-head {
		font-size: 52px;
	}
	.project-cards {
		flex-direction: column;
		margin-left: -10px;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.project-card {
		width: 100%;
		margin: 10px;
	}

	.contact {
		min-height: 60vh;
		margin-left: 0vh;
		padding: 50px 30px;
	}

	.contact-head {
		font-size: 52px;
	}
	.contact .icons .icon {
		padding: 15px 20px 15px 0;
	}
	.contact .icons .icon span {
		font-size: 36px;
	}
}
